.draftable {
  text-align: justify;
  margin: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.draftable span {
  padding: 10px;
}

.draftable.selected  {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
    min-width: 50px;
}

